<div class="container">
  <div class="navbar">
    <div class="nav-content">
      <div class="left-links">
        <a href="#" class="active"><img class="larger" src="https://cdn.worldvectorlogo.com/logos/logo-bmw-2020.svg" alt="Logo  BMW 2020 logo vector" style="width: 4rem;"></a>
        <a href="#">Models</a>
        <a href="#">Electric</a>
        <a href="#">Build & Price</a>
        <a href="#">Browse & Buy Online</a>
        <a href="#">More BMW</a>
      </div>
      <hr>
      <div class="right-links">
        <a href="#"><img width="32" height="32" src="https://img.icons8.com/windows/32/000000/user.png" alt="user"/></a>
        <a href="#"><img width="32" height="32" src="https://img.icons8.com/ios/32/shopping-cart--v1.png" alt="shopping-cart--v1"/></a>
        <a href="#"><img width="32" height="32" src="https://img.icons8.com/ios/50/google-maps-new--v1.png" alt="google-maps-new--v1"/></a>
        <a href="#"><img width="32" height="32" src="https://img.icons8.com/ios/50/search--v1.png" alt="search--v1"/></a>
      </div>
    </div>
  </div>  
 
  <div class="content">
    <div class="content-text">
      <p>Sheer Driving <b>Pleasure</b></p>
    </div>
    <div class="content-text-more">
      <h3>BMW 100% ELECTRIC CARS</h3>
      <h1>STARTING FROM</h1>
      <h1>R19 799/MONTH.*</h1>
    </div>
    <div class="content-buttons">
      <input id="btn-one" type="button" value="Search Available Cars">

      <input id="btn-two" type="button" value="Explore More" style="background-color: transparent; border: solid 1px;">
    </div>
  </div>
  
  <div class="white-background">
    <div class="shoping-tools-text">
      <h3>SHOPPING TOOLS</h3>
      <h1>FIND YOUR BMW.</h1>
    </div>
    <div class="shoping-tools-img">
      <div>
        <img src="../assets/SearchOne.png">
        <h2>Find a New Car</h2>
        <input type="button" value="Search Now" style="background-color: transparent; border: solid 1px;">
      </div>
      <div>
        <img src="../assets/SearchTwo.png">
        <h2>Find a Used Car</h2>
        <input type="button" value="Search Now" style="background-color: transparent; border: solid 1px;">
      </div>
      <div>
        <img src="../assets/Build.png">
        <h2>Build Your Own</h2>
        <input type="button" value="Build & Price" style="background-color: transparent; border: solid 1px;">
      </div>
    </div>
  </div>
</div>